body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

#info {
  background-color: white;
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  color: black !important;
  font-family: gothambook;
  text-align: center;
  top: 15px !important;
  width: 150px !important;
}

.submit-btn {
  background-color: gray;
  border: solid gray 5px;
}

.scores-box {
  border: solid white 2px;
  font-style: bold;
}
