body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  /* &;hover {
    z-index: 1;
  } */
}

.quiz {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.correct {
  border: solid green 5px;
}

.wrong {
  border: solid red 5px;
}

#info {
  background-color: white;
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  color: black !important;
  font-family: gothambook;
  text-align: center;
  top: 15px !important;
  width: 150px !important;
}

.submit-btn {
  background-color: gray;
  border: solid gray 5px;
}

.scores-box {
  border: solid white 2px;
  font-style: bold;
}
