.login-form {
  justify-content: center;
  min-height: 90vh;
}
.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 25px;
}
#login-grid {
    display: flex;
    flex-direction: column;
}
.login-button {
    width: 100%
}
#submit-login-button {
    width: 300px;
}
.login-field {
    width: 250px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #submit-login-button {
        width: 200px;
    }
    .login-field {
        width: 200px;
    }
    .login-button {
        width: 200px;
    }
  }