#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#form-control {
  display: flex;
  flex-direction: column;
}

#question {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
}

#answer {
  color: black;
}

#instructions {
  margin-top: -20px;
  margin-bottom: -2px;
}
