/*snake game */
#instructions {
  margin-top: -30px;
}

.game-area {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 400px;
  height: 400px;
  background-color: white;
  border: solid black 5px;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: teal;
  border: 1px solid teal;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 5%;
  height: 5%;
  background-image: url('./img/cookie.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.game-message {
  margin-bottom: 20px;
}
/* end snake game */
